{% extends 'pointclouds/potree_base.html' %}
{% block header %}
    {% with collaborators=vis.collaborators.all %}
        {% if collaborators|length > 0 %}
            <nav style="padding:1rem; background-color: {{ vis.background_color }};">
                <div style="display: flex; justify-items: left; max-height: {{ vis.navbar_height }}px;">
                    {% for collab in vis.collaborators.all %}
                        <a style="margin-right:.5rem; max-height:100%;" href="{{ collab.url }}" target="_blank">
                            <img src="{{ collab.logo.url }}" style="max-height:100%;" alt="" loading="lazy">
                        </a>
                    {% endfor %}
                </div>
            </nav>
        {% endif %}
    {% endwith %}
{% endblock %}
{% block footer %}
    {% if vis.copyright_notice %}
        <div style="color:rgba(255,255,255,1); padding: .5rem 1rem; background-color: rgba(26,32,44,1)">
            {{ vis.copyright_notice|safe }}
        </div>
    {% endif %}
{% endblock %}
{% block js %}
    {{ block.super }}
{% endblock %}