asgiref==3.2.10
boto3==1.15.0
botocore==1.18.0
django>=3.1,<3.2
django-ckeditor==5.9.0
django-colorfield==0.3.1
django-dotenv==1.4.2
django-js-asset==1.2.2
django-storages==1.10.1
gunicorn==20.0.4
jmespath==0.10.0
Pillow==8.3.2
psycopg2-binary==2.8.6
python-dateutil==2.8.1
pytz==2020.1
s3transfer==0.3.3
six==1.15.0
sqlparse==0.3.1
stringcase==1.2.0
urllib3==1.25.10
#https://github.com/darklow/django-suit/tarball/v2
https://github.com/pulse-mind/django-suit/tarball/django32



# Required for DIVIO Run
dj-database-url==0.5.0
django-storage-url==0.5.0
whitenoise==5.2.0


# Select one of the following for the database
#psycopg2==2.8.5

# Select one of the following for the gateway server
uwsgi==2.0.19.1